


@model EntityLayer.Concrete.Mail

<!-- END Hidden Required Fields-->
<div class="container-fluid p-0">
    @using (Html.BeginForm("SendMessage", "Default", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="row gx-0">
            <div class="col-12 col-md-6 form__item animate-in-up">
                @Html.TextBoxFor(m => m.NameandSurname, new { @class = "form-control", placeholder = "Adınız*", required = "required" })
                @Html.ValidationMessageFor(m => m.NameandSurname, "", new { @class = "text-danger" })
            </div>
            <div class="col-12 col-md-6 form__item animate-in-up">
           
            </div>
            <div class="col-12 col-md-6 form__item animate-in-up">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email Adresiniz*", required = "required", type = "email" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
            </div>
            <div class="col-12 col-md-6 form__item animate-in-up">
                @Html.TextBoxFor(m => m.Title, new { @class = "form-control", placeholder = "Başlık*", required = "required", type = "tel" })
            </div>
            <div class="col-12 form__item animate-in-up">
                @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Mesajınız *", required = "required" })
                @Html.ValidationMessageFor(m => m.Message, "", new { @class = "text-danger" })
            </div>
            <div class="col-12 form__item animate-in-up">
                <button class="btn btn-default btn-hover btn-hover-accent" type="submit">
                    <span class="btn-caption">Gönder</span>
                    <i class="ph-bold ph-paper-plane-tilt"></i>
                </button>
            </div>
        </div>
    }
</div>

